<style>

/* poppins-italic - latin-ext_latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/poppins-v20-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/poppins-v20-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/poppins-v20-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/poppins-v20-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/poppins-v20-latin-ext_latin-italic.svg#Poppins') format('svg'); /* Legacy iOS */
}



/* poppins-regular - latin-ext_latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/poppins-v20-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/poppins-v20-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/poppins-v20-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/poppins-v20-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/poppins-v20-latin-ext_latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}




* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins' ;
  padding-left: 20px;
<!--   background: #f1f1f1;  --> 
background: white;
}

/* header */
.header {
  padding: 20px;
  text-align: left;
  line-height: 10px;
  background: white;  
    height: 240px;
	  background-image: url("images/headerimg.png"); 
	  position:relative;
	  display:block;
background-repeat: no-repeat;
}

.innerheader{
    font-size: 40px;
}

.pheader{
    font-size: 25px;
}

/* header text */
.headercont{
position:absolute; 
top:50%; 
height:100px; 
margin-top:-20px;
}

.title{
  font-family: 'Poppins' ;
    font-size: 50px;
	  line-height: 35px;
}

.subtitle{
  font-family: 'Poppins' ;
    font-size: 30px;
		  line-height: 10px;
}



/* top navigation bar */
.topnav {
 overflow: hidden; 
  background-color: white;
}

/* topnav links */
.topnav a {
  font-family: 'Poppins' ;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    font-size:22.5px;

}

/* Change color on hover */
.topnav a:hover {
  background-color: black;
  color: orange;
  	transition:0.3s;
}

#right_container{
	background-color:white;
	float: right;
	width: 100%;
	margin-left: -400px;
}
#left_container{
	background-color:white;
	width: 400px;
	float: right;
	padding:0px;
	    line-height: 20px;
}
#right_container_container{
	<!-- background-color:plum; -->
	background-color:white;
	margin-left: 400px;
	padding-left: 30px;

}

.columns{
padding-top: 30px;
}

.textblock{
	background-color:white;
	max-width: 875px;
	min-height:700px;
	  font-family: 'Poppins' ;
	    font-size: 20px ;
		margin-top:30px;
		margin-bottom:300px;
}

    .contact {
	        width: 250px;
        height: 300px;
        position: relative;
        display: inline-block;
        margin-left: 60px;
		margin-top: 40px;
    }

    .card {
        width: 250px;
        height: 100px;
        position: relative;
        display: inline-block;
        margin-left: 60px;	
		margin-top: 40px;
    }
    .card .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
		  border-radius: 50%;
    }
    .card:hover .img-top {
        display: inline;
		  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
    }
	
	<!--  .img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
} -->

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
	
	
	.borderimg {
  border-radius: 50%;
}

.topcard{
display:none;
margin-left: 20px;
}

figure {
  padding: 4px;
  margin: auto;
}

figcaption {
  font-size:10px;
  padding: 2px;
  text-align: center;
}


/* Responsive layout 1 */
@media screen and (max-width: 965px) {
 #left_container{
 	float:none;
	display:none;
 } 
 #right_container, #right_container_container{   
width=100%;
float:none;
	margin-left: 0px;
  }
  body{
    padding-left: 0px;
  }
 .textblock{
 		margin-top:0px;
		 		margin-left:-15px;
 }
 
.topcard{
display:block;
}
.card, .contact{
        margin-left: 0px;
margin-right: 30px;
}
 }


/* Responsive layout 2 */
@media screen and (max-width: 466px) {
  .topnav a {
    width: 100%;
  }
 .hidden-mobile{
	display:none; 
	 
 }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: rgba(7, 7, 7, 0.59);
  color: white;
  text-align: center;
   border-radius: 8px;
  padding: 10px;
  font-size:12px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 100px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover{
color:orange;	

}


.emptylist{
list-style-type: none; 
 margin-left: -30px;
}

.minwid{
min-width: 175px;
}

 
 .span1{
      display:inline-block;
	  vertical-align: top;
    }

.fa-file-pdf:hover {
    color: orange;
}

 a, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
 
 a:hover{
 color:orange;
 }


footer {
	border-top:solid;
	border-width:1px;
  text-align: center;
  padding: 1px;
font-size:15px;
  color: black;
}

.bottomimg{

margin-top:300px	
	
}


</style>
